.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 692px;
  background-image: url("../../assets/imgs/Asset 12 1.svg");
  background-size: 100% 100%;
  padding: 0 155px;

  .first,
  .second {
    margin-right: 30px;
  }

  .fa-angle-left {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 128.3px;

    &:hover {
      cursor: pointer;
    }
  }

  .fa-angle-right {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 128.3px;

    &:hover {
      cursor: pointer;
    }
  }
}